<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.guo.demoapplication">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/Theme.Activity.ColorPrimaryDarkBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.activity.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.WhiteBackground" />

        <activity
            android:name=".view.activity.TabsActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.WhiteBackground" />

    </application>

</manifest>